.nav-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid rgb(238, 233, 233);
    background-color: #ffffff;
    width: 100%;
}

@media screen and (min-width: 1200px){
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:2px solid rgb(238, 233, 233);
        background-color: #ffffff;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
@media screen and (min-width: 1200px){
    .logo-container{
        width: 100%;
    }
  
}
.icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100px;
}
@media screen and (min-width: 786px){
    .icons-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 230px;
    }
}
.names-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
@media screen and (min-width: 1200px){
    .names-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 50%;
    }
}
.logo{
    height: 90px;
    width: 90px;
}
.logo-name{
    color: #000000;
    font-size: 36px;
    font-weight: 800;
    font-family: "Inter";
    text-align: center;
}
.icon{
    height: 20px;
    width: 20px;
}
.name{
    color: #252020;
    font-size: 15px;
    font-weight: 700;
    font-family: "Simplon Norm";
}
@media screen and (min-width: 1200px){
    .name{
        color: #252020;
        font-size: 20px;
        font-weight: 700;
        font-family: "Simplon Norm";
    }
}
.eng{
    display: none;
}


@media screen and (min-width: 1200px){
    .eng{
        color: #252020;
        font-weight: 700;
        font-size: 16px;
        font-family: "Simplon Norm";
    }
}

.icon-down{
    color: #252020;
    height: 13px;
    width: 13px;
}